<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fueldiet.fueldiet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".activity.BackupAndRestore"
            android:launchMode="singleTop"
            android:parentActivityName="com.fueldiet.fueldiet.activity.MainActivity"/>
        <activity
            android:name="com.fueldiet.fueldiet.activity.VehicleInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"/>
        <activity
            android:name="com.fueldiet.fueldiet.activity.EditCostActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.EditDriveActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName="com.fueldiet.fueldiet.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fueldiet.fueldiet.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.fueldiet.fueldiet.activity.ChartsActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.AddNewReminderActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.AddNewDriveActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.ConfirmReminderDoneActivity"
            android:noHistory="true"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.AddNewCostActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"/> -->
        <activity
            android:name="com.fueldiet.fueldiet.activity.VehicleDetailsActivity"
            android:label="@string/title_activity_vehicle_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.fueldiet.fueldiet.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fueldiet.fueldiet.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.fueldiet.fueldiet.activity.EditVehicleActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.AddNewVehicleActivity"
            android:parentActivityName="com.fueldiet.fueldiet.activity.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.fueldiet.fueldiet.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.fueldiet.fueldiet.activity.StartActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.fueldiet.fueldiet.AlertReceiver" />
        <receiver android:name="com.fueldiet.fueldiet.ButtonSnoozeReceiver" />
        <receiver android:name="com.fueldiet.fueldiet.ButtonDoneRepeatReceiver" />
    </application>

</manifest>